/* Estilos generales para el contenedor del formulario */
.password-form-container {
    background-color: #333;
    /* Fondo oscuro como en la imagen */
    padding: 20px;



    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: #fff;

    height: 100vh;
}

/* Estilo de los encabezados */
.password-form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos para los grupos del formulario */
.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos para las etiquetas */
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Estilos para los inputs */
.form-group input {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #444;
    /* Similar al estilo de la imagen */
    color: #fff;
}

/* Estilos para el botón de enviar */
.submit-button {
    width: 219px;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 502px;

}

.submit-button:hover {
    background-color: #218838;
}

/* Estilos para el mensaje de éxito */

.message {
    margin-top: 20px;

    text-align: center;
    font-weight: bold;
}