.containerTask {
    background-color: #2a2b2d;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, sans-serif;
    flex-direction: column;
}


/* Estilos del formulario */
.formTask {
    background-color: #3c3d40;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
}

/* Estilos de los campos de entrada */
.labelTask {
    font-size: 1rem;
    font-weight: bold;
    /*margin-bottom: 0.5rem;*/
    display: block;
}

.inputTask[type="text"],
textarea,
select,
.inputTask[type="date"] {
    width: 90%;
    padding: 0.75rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

.buttonTask[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    width: 95%;
    transition: background-color 0.3s ease;
}

.buttonTask[type="submit"]:hover {
    background-color: #45a049;
}

/* Mensaje de éxito */
/*
.pTask {
    background-color: #4caf50;
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    text-align: center;
}
    */

.selecTask {
    width: 95%;
}

/* Mejorar la apariencia de la página cuando se reduce el tamaño de la pantalla */
@media (max-width: 600px) {
    form {
        padding: 1rem;
    }
}