/* Contenedor del formulario de restablecimiento de contraseña */
.reset-password-container {
    background-color: #333;
    /* Fondo oscuro */
    padding: 20px;

    margin: 0 auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    display: flex;
    height: 100vh;
}

/* Estilos para el encabezado */
.reset-password-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

/* Estilos para el input */
.reset-password-form input {
    width: 180px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #444;
    /* Fondo oscuro del input */
    color: #fff;
    /* Texto blanco */
}

/* Estilos para el botón de enviar */
.botonRegistro {
    width: 200px;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #218838;
}

.containerRestablcer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 500px;
    margin-top: 80px;
}