body {
    margin: 0px 0px 0px 0px;
}

.navHome {
    width: 100vw;
    height: 50px;
}

.ContainerPrincipal {
    display: flex;
}


.listElements {
    width: 240px;
    height: 100vh;
    background-color: #2e2e30;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-right: 0px;
    border-right: 1px solid #a1a1a0;

}

.ContainerInformation {
    width: 100vw;
    height: 100vh;
    background-color: #1e1f21;
}

.TaskDetailPanel input {
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.TaskDetailPanel button {
    margin-right: 10px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}

.successMessage {
    background-color: #d4edda;
    color: #155724;
    padding: 15px;
    margin: 20px 0;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    text-align: center;
}

.successMessage button {
    background-color: #155724;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}

.successMessage button:hover {
    background-color: #0b2e13;
}

.iconSpacing {
    margin-right: 8px;
    /* Ajusta el espacio según tus necesidades */
    margin-left: 8px;
    color: #777578
}

.lineicono {
    margin-top: 25px;
    color: #a1a1a0;

    border: 0.2px solid;

}

.lineSecundaria {
    margin-top: 50px;
    color: #a1a1a0;
    border: 0.2px solid;
}

.iconTopSeccionUno {
    margin-top: 10px;
    /* Puedes ajustar este valor según tus necesidades */
}

.iconTopSeccionDos {
    margin-top: 10px;
}

.iconTopSeccionTres {
    margin-top: 10px;

}

.btnInvitar {
    margin-top: 30px;
    margin-left: 20px;
    width: 200px;
    height: 25px;
    background-color: #2e2e30;
    border: 1px solid #565557;
    text-align: center;
    padding-top: 10px;
    border-radius: 5px;
    color: #e0dfde
}

.textColorInicio {
    color: #e0dfde
}


/*-----------------Estilo de la tabla------------*/

.taskTableContainer {
    margin-top: 20px;
    margin-left: 50px;
}

.taskTable {
    width: 98%;
    border-collapse: collapse;
    margin: 20px 0;
}

.taskTable th,
.taskTable td {
    padding: 10px;
    border: 3px solid #8d8d8d;
    text-align: left;
}

.taskTable th {
    background-color: #1e1f21;
}

.taskTable tr:hover {
    background-color: #494949;
    cursor: pointer;
}

.taskTable tr td {
    padding: 10px;
}

.task-name {
    color: #7e8081;
    /* Cambia esto por el color que prefieras */
    font-weight: bold;
    /* Opcional, si quieres que el texto esté en negrita */
}

.task-columna {
    color: #f5f4ec;
}


/*--Seleccionar---*/

.selecProjec {
    margin-left: 45px;
    margin-bottom: 100px;
}

.textH3 {
    margin-left: 45px;
    color: #f5f4ec;
    font-size: 1.5em;
}

.textTask {
    text-align: center;
    font-size: 2.5em;

}


/*--ESTILO DE LA OPCION DE INICIO*/
.home-container {
    padding: 20px;
    color: #f5f4f3;
    background-color: #323234;
    min-height: 100vh;
}

.home-header {
    text-align: center;
    margin-bottom: 40px;
}

.home-header h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.home-header h3 {
    font-size: 1.5em;
    color: #f5f4f3;
    ;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.grid-item {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.grid-item:hover {
    transform: scale(1.05);
}

.iconoInicio {
    font-size: 2em;
    color: #4CAF50;
    /* Color verde de ejemplo, puedes cambiarlo */
    margin-bottom: 10px;
}

.grid-item h4 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: black
}

.grid-item p {
    font-size: 0.9em;
    color: #777;
}